@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    height: 0;
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
    height: 0;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in 100 forwards;
  animation: fadeIn 1s ease-in 100 forwards;
  opacity: 0;
  height: 0px;
}

.fadeOut {
  -webkit-animation: fadeOut 1s ease-in 1 forwards;
  animation: fadeOut 1s ease-in 1 forwards;
}

div.columns.fadeTarget.hide {
  display: none !important;
}

.is-paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
